body {
  background-color: #f8f8f8;
  height: 650px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: #404040;
  font-size: 14.9px;
  text-decoration: none;
  letter-spacing: .3px;
  -webkit-transition: color 2s ease;
  -moz-transition: color 2s ease;
  -o-transition: color 2s ease;
  transition: color 2s ease;
}

.color {
  color: #5A87FF;
  font-weight: bold;
}

#party-popper {
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.content {
  position: relative;
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #404040;
  font-size: 67px;
  letter-spacing: .4px;
  margin-bottom: 25px;
}

p {
  font-family: 'Prata', sans-serif;
  color: #404040;
  font-size: 14.6px;
  line-height: 24px;
}

#firework-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}